<div class="p-container">

  <button mat-flat-button (click)="updateTitle()">Basic</button>

  <ng-container *ngIf="title$ | async as title; else loading">
    <hr />
    <strong>{{ title }}</strong>
  </ng-container>

  <hr />

  <ng-container *ngIf="currentIsrId$ | async as currentIsrId; else loading">
    <span>Current ISR id: {{ currentIsrId }}</span>
  </ng-container>

  <hr />

  <ng-container *ngIf="showMessage$ | async as showMessage; else loading">
    <span>Show Message: {{ showMessage }}</span>
  </ng-container>

  <hr />

  <ng-container *ngIf="messageCustom$ | async as messageCustom; else loading">
    <span>Show Message CUSTOM: {{ messageCustom }}</span>
  </ng-container>

  <hr />

  <div style="background-color: blueviolet;">
    <ng-container *ngIf="vm$ | async as vm; else loading">
      {{vm | json}}
      <hr />
      <span>Current ISR id: {{ vm.currentIsrId }}</span>
      <hr />
      <span>Show Message: {{ vm.showMessage }}</span>
      <hr />
      <span>Show Message: {{ vm.fieldA }}</span>
      <hr />
    </ng-container>
  </div>

</div>

<ng-template #loading>
  waiting...
</ng-template>
